{% extends 'challenge4/base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
    {% block body %}
        <h1>Home</h1>
        <h3>Welcome to my webpage! My name is Travis Smith. </h3>
        <img class="card" height="400px" width="200px" src="https://scontent-atl3-1.xx.fbcdn.net/v/t39.30808-6/297883036_851345949584884_2828246862414294830_n.jpg?_nc_cat=108&ccb=1-7&_nc_sid=09cbfe&_nc_ohc=mYMcS7j6oLMAX9wh4Ae&tn=T4GTuehHP2ra8kPe&_nc_ht=scontent-atl3-1.xx&oh=00_AT9mTa_R_Am4yDeFk-fd9xhkgOARLbX8z-wH23lNh5enQg&oe=63496C56"/>
        <p>
            I love to code. I've been coding for around 7 years. I currently work
            developing with python (we are using FastAPI for our webserver). I have learned a ton since becoming a full time
            developer and it's been awesome to work in a team. I've found I really enjoy working as a fullstack developer and
            spending time on both the frontend and backend of an application.
        </p>
    {% endblock %}
</body>
</html>